@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --default-font-family: "Poppins", sans-serif;
  --color-primary-50: #f0f0ff;
  --color-primary-100: #e0e0ff;
  --color-primary-200: #c1c1ff;
  --color-primary-300: #a2a2ff;
  --color-primary-400: #8383ff;
  --color-primary-500: #724dff; /* Base color */
  --color-primary-600: #5a3de6;
  --color-primary-700: #4a32cc;
  --color-primary-800: #3a27b3;
  --color-primary-900: #2a1c99;
  --color-background: #f5f5f5;
}
